<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a.ghoedev.yoss">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="a.ghoedev.yoss.Util.YouApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">
        <activity android:name="a.ghoedev.yoss.Activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="a.ghoedev.yoss.Activity.WelcomeActivity" />
        <activity android:name="a.ghoedev.yoss.Activity.DirectMessageActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name="a.ghoedev.yoss.Activity.MainActivity" />
        <activity android:name="a.ghoedev.yoss.Activity.PrivacyPolicy" />
        <activity android:name="a.ghoedev.yoss.Activity.ShowItem" />
        <activity android:name="a.ghoedev.yoss.Activity.VideoPlayer" />

        <!-- optional (needed if default theme has no action bar) -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <meta-data android:name="com.google.android.gms.version"
            />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2513915580660974~2975122595"/>

    </application>

</manifest>